
html{
  font-size: 16px;
  line-height: 1.2;
}
li{
  font-size: 1.1rem;

}
.dec, .inc {
  width: 10%;
  height: 10%;
  font-size: 10px;
  text-align: center;
  padding: .3rem;
}
li, ul{
  position: relative;
  list-style-type: none;
}
ul{
  width: 20vw;
}
li{
  width: 15vw;
  padding-left: 20px;
  border-left: 1px solid #8a888b;
}
li:before{
  content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0;
}
.admin{
  width: 20vw;
}
.admin > ul {

  width: 20vw;
/*  background: #7bacff;*/
  margin-left: 20px;
}

.admin{
  position: relative;
}

.add-main-li, .add-remove{
/*  position: absolute;
  top: 0;
  right: 0;*/
}
.add-category{
/*  position: absolute;
  top: 0;
  right: -30vw;*/
}
i{
  font-size: 18px;
  cursor: pointer;
}
i .fa .fa-plus{
  display: block;
}
[dragstart] {
  color: #2ca03f;
}
ul li .over {
  border: 2px dashed #000;
}
li > li {
  margin-left: 40px;
}
ul li span, ul li span i {
  border: none !important;
}
li.root-li{
  cursor: pointer;
}
li{
  cursor: default;
}
.root-add{
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  line-height: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #2196f3;
  color: #fff ;
  margin-bottom: .5rem;
  display: inline-block;
  transition: .3s;
}
.root-add:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.root-add:focus{
 outline: none;
}
.block{
  margin-left: 2rem;
}
.add-category{
  display: none;
}
.show{
  display: block;
}